body {
    font-family: "Lucida Grande", "sans-serif";
    color: #ffffff;
    background-color: #000000;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-shadow: 5px 5px 2px  #808080;
}

p {
    font-size: 24px;
    padding-top: 20px;
}

img{
    /*Set images on their own line*/
    display: block;
    /*center images*/
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 525px;
    float: none;
}

div{
    min-height: 150px;
    padding: 25px;
}

#red{
    background-color: #ff0000;
    text-align: right;
}

#blue{
    background-color: #0000ff;
    text-align: left;
}

#yellow{
    background: #ffff00;
    text-align: right;
}

/*Why doesn't h2, p work? It changes the text color on the entire page instead of just id yellow */
#yellow p{
    color: #000000;
}

#yellow h2{
    text-shadow: 5px 5px 2px  #c7e2c7;
    color: #000000;
}

#green{
    background-color: #008000;
    text-align: left;
}

footer p{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}

